:root {
    /* Color */
    --color-primary: #3e97b5;
    --color-primary-dark: #093b60;
    --color-secondary: #dbd9d9;
    --color-accent: green;
    --color-text: white;
    --color-text-secondary: #666;
    --color-background: white;
    --color-border: #ccc;
    --color-card-bg: #f4f4f4;
    --color-hover-overlay: rgba(0, 0, 0, 0.8);
    
    /* Layout */
    --border-radius-sm: 5px;
    --border-radius-md: 10px;
    --border-radius-lg: 50%;
    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    --transition-default: all 0.3s ease;
    
    /* Spacing */
    --spacing-xs: 2px;
    --spacing-sm: 5px;
    --spacing-md: 10px;
    --spacing-lg: 20px;
    --spacing-xl: 30px;
    
    /* Font  */
    --font-size-xs: 0.8rem;
    --font-size-sm: 0.9rem;
    --font-size-md: 1rem;
    --font-size-lg: 1.3rem;
    --font-size-xl: 1.5rem;
    --font-size-xxl: xx-large;
    --font-weight-normal: normal;
    --font-weight-bold: bold;
    --font-weight-bolder: bolder;
    --font-weight-light: lighter;
    
    /* Component */
    --box-height-sm: 5%;
    --box-height-md: 10%;
    --box-height-lg: 85%;
    --box-width-full: 100%;
    --box-width-wide: 80%;
    --box-width-narrow: 30%;
    --box-width-wide-right: 70%;
    --image-height: 300px;
    --image-aspect-ratio: 1;
}

* {
    box-sizing: border-box;
    transition: var(--transition-default);
}