:root {
  font-family: 'Arial', sans-serif;
  --welcome-margin-top: 50px;

  --title-font-size: 3.5rem;
  --subtitle-font-size: 1rem;

  --title-color: #333;
  --subtitle-color: #666;

  --subtitle-margin: 20px 0;
  width: 100vw ;
}

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: var(--welcome-margin-top);
}

.welcome h1 {
  font-size: var(--title-font-size);
  color: var(--title-color);
  margin: 0;
}

.welcome h3 {
  font-size: var(--subtitle-font-size);
  color: var(--subtitle-color);
  margin: var(--subtitle-margin);
}
